/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
  font-family: var(--font-primary--family), sans-serif;
  font-size: var(--font-size-body1, 16px);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  border-radius: var(--style-border-radius-inputs);
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

p {
  text-wrap: pretty;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  margin-block-end: 0;
}

h1, .h1 { 
  font-family: 'Vanguard CF', sans-serif; 
  font-size: var(--font-size-h1, 80px); 
  line-height: 0.96; 
  text-transform: uppercase; 
  font-weight: 700; 
  margin-bottom: 0.5em; 
}

h1, .h0 { 
  font-family: 'Vanguard CF', sans-serif; 
  font-size: var(--font-size-h0, 100px); 
  line-height: 0.96; 
  text-transform: uppercase; 
  font-weight: 700; 
  margin-bottom: 0.5em; 
}

h2, .h2 { 
  font-family: 'Vanguard CF', sans-serif; 
  font-size: var(--font-size-h2, 64px); 
  line-height: 1; 
  text-transform: uppercase; 
  font-weight: 700; 
  margin-bottom: 0.5em; 
}

h3, .h3 { 
  font-family: 'Vanguard CF', sans-serif; 
  font-size: var(--font-size-h3, 48px); 
  line-height: 1.1; 
  text-transform: uppercase; 
  font-weight: 700; 
  margin-bottom: 0.5em; 
}

.subtitle-1 { 
  font-family: var(--font-heading--family), sans-serif; 
  font-size: var(--font-size-sub1, 20px); 
  font-weight: 500; 
  letter-spacing: 0.15em; 
  text-transform: uppercase; 
}

.text-small { 
  font-size: var(--font-size-body2, 14px); 
}

/** Section layout utilities */

/**
 * Setup a grid that enables both full-width and constrained layouts
 * depending on the class of the child elements.
 */
.shopify-section {
  --content-width: min(
    calc(var(--page-width, 1440px) * 2),
  );
  --content-margin: minmax(var(--page-margin, 20px), 1fr);
  --content-grid: var(--content-margin) var(--content-width) var(--content-margin);

  position: relative;
  grid-template-columns: var(--content-grid);
  width: 100%;
}

.shopify-section > * {
  grid-column: 2;
}

.shopify-section > .full-width {
  grid-column: 1 / -1;
}